.cards {
  display: flex;
  margin: 20px;
}

.card {
  align-items: center;
  margin: 10px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  border: 1px solid rgb(235, 234, 234)
}

.card img {
  width: 50px;
  object-fit: cover;
}
